<h1>Página de jogos</h1>

<nav>
    <a href="/jogos/novo">Cadastrar um novo jogo</a>
</nav>
<table border="1" style="margin-top: 2%;">
    <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th></th>
    </tr>
    {{#each jogos}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.titulo}}</td>
            <td>{{this.descricao}}</td>
            <td>{{this.preco}}</td>
            <td>
                <a href="/jogos/{{this.id}}/atualizar">Atualizar</a>
                <form action="/jogos/excluir" method="post">
                    <input type="hidden" value="{{this.id}}" name="id">
                    <input type="submit" value="excluir">
                </form>
                <a href="/jogos/{{this.id}}/conquistas">Acessar as conquistas</a>
            </td>
        </tr>
    {{/each}}
</table>